<div class="post-list">
  <% @topics.each do |topic| %>
    <a class="post" href="<%= edit_topic_path(topic) %>" >
      <div class="header">
        <h2 class="title"><%= topic.title %></h2>
    </div>
  </a>
  <% end %>
</div>